$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// Variables
$input-border-radius: 0 !default;


// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Use google fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400italic,700);

html {
	background: #aa5adf;
	background: -moz-linear-gradient(-45deg,  #aa5adf 0%, #4f34b5 100%);
	background: -webkit-linear-gradient(-45deg,  #aa5adf 0%,#4f34b5 100%);
	background: linear-gradient(135deg,  #aa5adf 0%,#4f34b5 100%);
}
body {
	min-height: 100vh;
	background: #aa5adf;
	background: -moz-linear-gradient(-45deg,  #aa5adf 0%, #4f34b5 100%);
	background: -webkit-linear-gradient(-45deg,  #aa5adf 0%,#4f34b5 100%);
	background: linear-gradient(135deg,  #aa5adf 0%,#4f34b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa5adf', endColorstr='#4f34b5',GradientType=1 );
	font-family: Lato;
	padding-bottom: 55px;
}

.container {
	padding-left: 40px; 
	padding-right: 40px; 
}

#header .container {
	//margin: 55px 0;
	padding-top: 55px;
	padding-bottom: 55px;
	h1 {
		margin: 0;
	}
}

h1, h2 {
	font-size: 40px;
	line-height: 38px;
	text-transform: uppercase;
	text-shadow: 0px 1px 3px rgba(0,0,0,.2);
	font-weight: 700;
}

h1 {
	color: #fff;
}
h2 {
	color: #4f34b5;
}

#main {
	background: #fff;
	padding-bottom: 55px;
	&.alt {
		background: transparent;
	}
	h2 {
		//margin: 55px 0;
		padding-top: 55px;
		padding-bottom: 55px;
	}
}

.form-group + .row {
	margin-top: -15px;
}
.answer {
	position: relative;
}
.form-group label {
	font-size: 20px;
	color: #4f34b5;
	font-style: italic;
	font-weight: 400;
	text-shadow: 0px 1px 3px rgba(0,0,0,.2);
}

.form-control {
	font-size: 20px;
	height: 50px;
	color: #a257db;
	font-style: italic;
	border: 2px solid #4f34b5;
	text-shadow: 0px 1px 3px rgba(0,0,0,.2);
	&:focus {
		border-color: #a257db;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(162, 87, 219, 0.6);
	}
}

.btn-link,
.btn-link:hover,
.btn-link:focus {
	color: #4f34b5;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.9;
	text-shadow: 0px 1px 3px rgba(0,0,0,.2);	
	position: relative;
	padding-left: 25px;
	i {
		position: absolute;
		left: 0;
		top: 16px;
	}
}
.input-remove,
.input-remove:hover,
.input-remove:focus {
	position: absolute;
	// right: -22px;
	// top: 0;
	right: -38px;
	top: 32px;
	padding: 7px 8px;
	i {
		position: static;
	}
}
.btn-toolbar {
	margin-top: 55px;
}
.btn-primary,
.btn-default {
  	font-size: 20px;
  	font-weight: bold;
	line-height: 1.9;
	width: 100%;
}
.btn-primary,
.btn-primary:focus,
.btn-primary:focus:active,
.btn-primary:hover,
.btn-primary:active,
.btn-primary[disabled],
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:active {
	background: #aa5adf;
	border-color: #aa5adf;
	&[disabled] {
		opacity: .65;
	}
	i {
		left: -10px;
	}
}

.btn-default,
.btn-default[disabled],
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
.btn-default[disabled]:active {
	background: #fff;
	color: #5840b7;
	border-color: #fff;
}

// Progress bars


.progress-label {
  font-size: 20px;
  color: #fff;
  line-height: 1.9;
  text-shadow: 0px 1px #px rgba(0,0,0,.2);
}
.progress {
  height: 53px;
  border-radius: 0;
  margin-left: -40px;
  margin-right: -40px;
  background-color: #e9e4f6;
  box-shadow: none;
}
.progress-bar {
	background-color: #5b34b5;
}
// Different bgcolor for answers depending on order
.nr1 {
	background-color: #3434b5 !important
}
.nr2 {
	background-color: #4334b5 !important
}
.nr3 {
	background-color: #4c34b5 !important
}
.nr4 {
	background-color: #5b34b5 !important
}
.nr5 {
	background-color: #6834b5 !important
}
.nr6 {
	background-color: #7434b5 !important
}
.nr7 {
	background-color: #8034b5 !important
}
.nr8 {
	background-color: #9534b5 !important
}
.nr9 {
	background-color: #b034b5 !important
}
.nr10{
	background-color: #b53495 !important
}
.nr11 {
	background-color: #b53477 !important
}
.nr12 {
	background-color: #b5345b !important
}

// Radios

.radio {
	margin-left: -40px;
	margin-right: -40px;
	input[type="radio"] {
		display: none;
	}
	.radio-btn {
		height: 100%;
		width: 60px;
		background-color: #5b34b5;
		position: relative;
	}
	.radio-text {
		padding-left: 15px;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;

		background: #fff;
		background: -moz-linear-gradient(left,  #ffffff 0%, rgba(91,52,181,0.3) 100%);
		background: -webkit-linear-gradient(left,  #ffffff 0%,rgba(91,52,181,0.3) 100%);
		background: linear-gradient(to right,  #ffffff 0%,rgba(91,52,181,0.3) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#5b34b5',GradientType=1 );

		color: #4f34b5;
		font-size: 17px;
		text-shadow: 0px 1px 3px rgba(0,0,0,.2);

	}
	input[type="radio"] + .radio-btn:before {
		content: "";
		height: 20px;
		width: 20px;
		border-radius: 20px;
		background: #fff;
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -10px;
		margin-left: -10px;

	}
	input[type="radio"]:checked + .radio-btn:before {
		background: transparent;
		border: 4px solid #fff;
	}
	input[type="radio"]:checked + .radio-btn + .radio-text {
		background: #fff;
	}
	label {
		cursor: pointer;
		height: 85px;
		width: 100%;
		padding: 0;
		display: flex;
		background: #fff;
	}	
}
.share-url {
	background: #fff;
	margin-top: -20px;
	padding: 0 20px;
	h2 {
		font-size: 20px;
		position: relative;
		top: -7px;
		text-transform: none !important;
		span {
			font-size: 40px;
			line-height: 50px;
			position: relative;
			top: 2px;
		}
	}
}
// Changing bg color of selection
::selection {
  background: #4f34b5;
  color: #fff;
}
::-moz-selection {
  background: #4f34b5;
  color: #fff;
}

// Responsive part

@media (min-width: 768px) {
	#main, #header {
		width: 50%;
		.container {
			width: 100%;
		}
	}
	#main.alt {
		background: #fff;
		padding-top: 55px;
		.progress,
		.progress-label {
			float: left;
		}
		.progress-label {
			color: #5b34b5;
			width: 35%;
			line-height: 1.2;
			margin-right: 10px;

		}
		.progress {
			margin: 0;
			width: 60%;
		}
		.btn-primary,
		.btn-default {
			color: #fff;
		  	font-size: 20px;
		  	font-weight: bold;
			line-height: 1.9;
		}
		.btn-default,
		.btn-default:focus,
		.btn-default:focus:active,
		.btn-default:hover,
		.btn-default:active,
		.btn-default[disabled],
		.btn-default[disabled]:focus,
		.btn-default[disabled]:hover,
		.btn-default[disabled]:active {
			background: #aa5adf;
			border-color: #aa5adf;
			&[disabled] {
				opacity: .65;
			}
			i {
				left: -10px;
			}
		}
		.radio {
			margin: 0;
			.radio-btn {
				width: 90px;
			}
		}
		input[type="radio"]:checked + .radio-btn + .radio-text {
			background: #fff;
			background: -moz-linear-gradient(left,  #ffffff 0%, rgba(91,52,181,0.3) 100%);
			background: -webkit-linear-gradient(left,  #ffffff 0%,rgba(91,52,181,0.3) 100%);
			background: linear-gradient(to right,  #ffffff 0%,rgba(91,52,181,0.3) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#5b34b5',GradientType=1 );
		}
		.progress-rows {
			@include clearfix;
			padding-top: 21px;
			transition: all .3s ease-in-out;
			opacity: 0;
			transform: translateX(-100%);
			&.an-2 {
				transition-delay: .1s;
			}
			&.an-3 {
				transition-delay: .2s;
			}
			&.an-4 {
				transition-delay: .3s;
			}
			&.an-5 {
				transition-delay: .35s;
			}
			&.an-6 {
				transition-delay: .38s;
			}
			&.an-7 {
				transition-delay: .4s;
			}
			&.an-8 {
				transition-delay: .42s;
			}
		}
	}
	.btn-primary,
	.btn-default {
		min-width: 200px;
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
}
body.animate {
	#main.alt .progress-rows {
		opacity: 1;
		transform: translateX(0);	
	}

}

@media (min-width: 1280px) {
	#main, #header {
		width: 40%;
	}
	.share-url {
		position: absolute;
		top: 35px;
		right: 0;
		margin-top: 0;
		padding-bottom: 7px;
	}
}