<header id="header">
	<div class="container">
		<h1>{{question.text}}</h1>
	</div>
</header>
<main id="main" class="alt">
	<div class="container">
		<form class="form-horizontal" ng-submit="answerQuestion(question.answers[myAnswer])">
			<div class="radio" ng-repeat="a in question.answers">
				<label>
					<input type="radio" name="radios" ng-model="$parent.myAnswer" value="{{$index}}">
					<span class="radio-btn nr{{$index+1}}"></span>
					<span class="radio-text">{{a.text}}</span>
				</label>
			</div>
			<div class="btn-toolbar">
				<button class="btn btn-default" type="submit" ng-show="loaded" ng-disabled="!question.answers[myAnswer]">Submit your answer</button>
			</div>
		</form>
	</div>
</main>