<div class="share-url">
	<h2 class="text-center">june.ee/poll/#/<span>{{question.$id}}</span></h2>
</div>
<header id="header">
	<div class="container">
		<h1>{{question.text}}</h1>
	</div>
</header>
<main id="main" class="alt"  ng-show="loaded">
	<div class="container">
		<div ng-repeat="a in question.answers" class="progress-rows an-{{$index+1}}">
			<div class="progress-label">{{a.text}} <em>({{a.count/getTotal()*100 | number : 1}}%)</em></div>
			<div class="progress">
			  <div class="progress-bar nr{{$index+1}}" role="progressbar" aria-valuenow="{{a.count/getTotal()*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{a.count/getTotal()*100}}%;">
				<span class="sr-only">{{a.count/getTotal()*100}} % Complete</span>
			  </div>
			</div>
		</div>
		<div class="btn-toolbar">
			<a class="btn btn-default" href="#/">Create a new poll</a>
		</div>
	</div>	
</main>
