<header id="header">
	<div class="container">
		<h1>Conduct a poll for instant feedback</h1>
	</div>
</header>
<main id="main">
	<div class="container">
		<h2>Ask a question!</h2>
		<form ng-submit="addQuestion()" autocomplete="off">
			<div class="form-group">
				<label for="question">Type your question:</label>
				<input type="text" class="form-control" id="question" ng-model="newQuestion.text">
			</div>
			<div class="form-group answer" ng-repeat="a in newQuestion.answers track by $index"> 
				<label for="answer{{$index}}">Add answer #{{$index + 1}}:</label>
				<input type="text" class="form-control" id="answer{{$index}}" ng-model="a.text">
				<button type="button" class="btn btn-link input-remove" ng-click="newQuestion.answers.splice($index, 1)" ng-if="$index > 0" title="Delete this answer"><i class="glyphicon glyphicon-remove-circle"></i></button>
				<input type="hidden" ng-init="a.count = 0">
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-link" type="button" ng-click="newQuestion.answers.push({text: ''});focusLastAnswer();"><i class="glyphicon glyphicon-plus-sign"></i> Add another answer</button>
				</div>
			</div>
			<div class="btn-toolbar">
				<button class="btn btn-primary" type="submit" ng-disabled="newQuestion.text.length <= 0 || newQuestion.answers.length <= 1" title="At least two answers needed"><i class="glyphicon glyphicon-bullhorn"></i> Ask a question</button>
			</div>
		</form>
	</div>
</main>
